In [1]:
print("Hello World")

Hello World

In [2]:
0.1 + 0.2

0.30000000000000004

In [4]:
#how to declare string

mystr = "Hello World"

In [5]:
print(mystr)

Hello World

In [6]:
#indexing 

print(mystr[0]) #string index always start from Zeroth index
print(mystr[5])
print(mystr[-2])

H

l

In [7]:
#slicing  syntax string_name[start index : end index : steps]

print(mystr[:]) #returns whole string
print(mystr[7 : ]) #include all character from 7th index
print(mystr[-9 : -3]) #include character fro m -9th index to -4th index 
print(mystr[::-1]) #reverse string

#slicing by using steps
print("---------slicing by using steps--------\n",mystr)
print(mystr[0:10:2]) #this wont include last world while slicing
print(mystr[-9::2]) #this will include last world while slicing
print(mystr[::2]) #string wont reverse

Hello World
orld
llo Wo
dlroW olleH
---------slicing by using steps--------
 Hello World
HloWr
loWrd
HloWrd

In [9]:
#Strings properties and Method

#concatenation 
name = "Nishad"
name = name + " Deora"
print('concatenation:',name)
#multiplication
letter = "z"
print('multiplication:',letter*10)

#methods
print("----------methods----------")
word = "abcdefg"
print('Upper: ',word.upper())
print(word.split('e'))
print('Lower: ',word.lower())

concatenation: Nishad Deora
multiplication: zzzzzzzzzz
----------methods----------
Upper:  ABCDEFG
['abcd', 'fg']
Lower:  abcdefg

In [10]:
#how to iterate the String in Python

for char in mystr:
    print(char)
print(type(mystr))

H
e
l
l
o

W
o
r
l
d
<class 'str'>

In [2]:
n = 'Nishad'
print(n[:])
print(n[::])

Nishad
Nishad

In [25]:
#s = "abcdef"
s = 'ab'
#print (s[2:])
print(s[::-1])
st = ''
for i in range(len(s)-1,-1,-1):
    st = st + s[i]
    
if s == st:
    print(1)
else:
    print(2)

ba
2

In [4]:
s[4:2:-1]

'ed'

In [11]:
n = "My name is Nishad"
li = n.split()
print(li)

['My', 'name', 'is', 'Nishad']

In [26]:
'''in or not in operator is used to check substring in a given string in continues manner'''

s = 'Nishad'

if 'Ni' in s:
    print(True)
else:
    print(False)

True

In [27]:
a = "abce" >= "abcdef"
print(a)

True

###  Functions on String

In [33]:
st = 'My,Name,is,Khan'
li = st.split(',',2)
print(li)

['My', 'Name', 'is,Khan']

In [35]:
st = 'My Name is Khan'
s = st.replace('Khan','Nishad')
print(s)

My Name is Nishad

In [38]:
st = 'My name is Nishad'
index = st.find('Ni')
print(st.find('d',3,10))
print(index)

-1
11

In [40]:
st = 'My name is Nishad'
ans= st.startswith('My na')
print(ans)
ans = st.startswith('Ni',10,15)

True

In [57]:
st = 'rate'
s = 'race'
flag = True
for i in range(len(st)):
    if s[i] in st:
        flag = True
    else: 
        flag = False

print(flag)

True

In [56]:
if 't' in 'race':
    print(1)
else:
    print(2)

2

In [6]:
#Reverse eeach word with in string logic 1

st = 'My name is Nishad'
li = st.split()
str = ''

for ele in li:
    str = str + ele[::-1] + " "

print(str)

print(li)

yM eman si dahsiN
['My', 'name', 'is', 'Nishad']

In [2]:
m = 'Nishad'
c = m[::-1]
print(c)

dahsiN

In [8]:
#Reverse eeach word with in string logic 2
st = 'My name is Nishad'
li = st.split()
str = ''

for ele in li:
    s = ''
    for j in range(len(ele)-1,-1,-1):
        s = s + ele[j]
    str = str + s + ' '
print(str)

yM eman si dahsiN

In [16]:
#count highest occuring number logic 1

st = 'abcdeapaprrrrr'
count = 0
ch = ''
duplicate = ''
for ele in st:
    count1 = st.count(ele)
    dulpicate = ''
    if count1>count:
        count = count1
        ch = ele
print('count of',ch,'is',count)

count of r is 5

In [47]:
#logic 2

st = 'abcdeapaprrrrr'
all_freq = {}
s = ''

for ele in st:
    if ele in all_freq:
        all_freq[ele] += 1
    else:
        all_freq[ele] = 1

res = max(all_freq, key = all_freq.get)
print(all_freq)
print('highest occuring character',res)

{'a': 3, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'p': 2, 'r': 5}
highest occuring character r

In [48]:
st = 'aaabbccdsa'
str = ''

for i in range(len(st)):
    count = 1
    while i <= len(st) and st[i] == st[i+1]
        count += 1
        i += 1
    str = str + st[i] + str(count)
print(str)

SyntaxError: invalid syntax (Temp/ipykernel_13488/726774049.py, line 6)