In [1]:
li = [[1,2,3],[4,5,6],[7,8,9]]

In [2]:
li[1][2]

6

In [3]:
'''Jagged List : are the List where column size is not mentioned or specified'''

li = [[1,2,3,4],[4,5,6,10,16],[7,8,9],[23,13]]

In [4]:
li[0]

[1, 2, 3, 4]

In [15]:
'''List Comprehension: 
- It used to write a efficient, easy-to-read and understand the code
- List Comprehension is used to write single line of code to construct powerful functionality.
- List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc

Syntax : newList = [ expression(element) for element in oldList if condition ] 
- any number of condition will be there
- can have multiple for loops
'''

li_old = [1,2,3,4,5,6,8,9]
li_new = [ele*2 for ele in li_old]

In [16]:
li_new

[2, 4, 6, 8, 10, 12, 16, 18]

In [22]:
li_even_cube = [ele**3 for ele in li_new if ele%2 ==0 if ele%3==0]

In [23]:
li_even_cube

[216, 1728, 5832]

In [26]:
li_1 = [1,2,3,4,5,6]
li_2 = [1,3,5,7]

li_inter = [ele for ele in li_1 for ele2 in li_2 if ele == ele2]
print(li_inter)
print(type(li_inter[0]))

[1, 3, 5]
<class 'int'>

In [27]:
a = 1
type(a)

int

In [29]:
s = 'Nishad'
li_n = [ele for ele in s]
print(li_n)

['N', 'i', 's', 'h', 'a', 'd']

In [3]:
li_name = ['Nishad','Dewang','Raj']
li_n1 = [[s for s in ele] for ele in li_name]
print(li_n1)

[['N', 'i', 's', 'h', 'a', 'd'], ['D', 'e', 'w', 'a', 'n', 'g'], ['R', 'a', 'j']]

In [4]:
li = [[[k for k in range(2)]for j in range(3)] for i in range(3)]
print(li)

[[[0, 1], [0, 1], [0, 1]], [[0, 1], [0, 1], [0, 1]], [[0, 1], [0, 1], [0, 1]]]

In [2]:
'''How to take input for 2D List'''
print('Enter the row and column of a 2D list by usinf space')
st = input().split()
n,m = int(st[0]),int(st[1])
li_input = [[int(j) for j in input().split()] for i in range(n)]
# li_input = [[int(input().split()) for x in range (m)] for y in range(n)]

Enter the row and column of a 2D list by usinf space
2 1
1 2 3
2 3

In [3]:
li_input

[[1, 2, 3], [2, 3]]

In [4]:
li = [[1,2,4,1],[4,5],[2,4,5,1]]

for row in li:
    output = ' '.join([str(s) for s in row])
    print(type(output))
    print(output)

<class 'str'>
1 2 4 1
<class 'str'>
4 5
<class 'str'>
2 4 5 1

In [7]:
#how to prin jaggy list - method 2

for row in li:
    for ele in row:
        print(ele,end=' ')
    print(type(ele))
    print()

1 2 4 1 <class 'int'>

4 5 <class 'int'>

2 4 5 1 <class 'int'>

In [8]:
#Row wise sum in 2D list

li = [[1,2,4,1],[4,5],[2,4,5,1]]

li_new = [ for ele1 in li ]

for row in li:
    sum = 0
    for ele in row:
        sum = sum + ele
    print(sum,end = ' ')

8 9 12

In [34]:
'''Largest Row or Column '
For a given two-dimensional integer array/list of size (N x M), 
you need to find out which row or column has the largest sum(sum of all the elements in a row/column) 
amongst all the rows and columns.
'''


def row_sum(li,row,col):
    #li_row = []
    max_row = -1
    max_row_index = -1
    for i in range(row):
        sum = 0 
        for j in range(col):
            sum = li[i][j] + sum
        if sum>max_row:
            max_row = sum
            max_row_index = i
    return max_row,max_row_index
        
def col_sum(li,row,col):
    #li_col = []
    max_col = -1
    max_col_index = -1
    for j in range(col):
        sum = 0
        for ele in li:
            sum = ele[j] + sum
        if sum>max_col:
            max_col = sum
            max_col_index = j
    return max_col,max_col_index

In [37]:
li = [[3,6,9],[1,4,7],[2,8,9]]
row = len(li)
col = len(li[0])
li_row = row_sum(li,row,col)
print(li_row)
li_col = col_sum(li,row,col)
print(li_col)

if li_row[0]>li_col[0]:
    print('row ',li_row[1],li_row[0])
elif li_row[0]<li_col[0]:
    print('column ',li_col[1],li_col[0])
else:
    print("row 0 -2147483648")

(19, 2)
(25, 2)
column  2 25

In [38]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [41]:
'''
Wave Print
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, 
i.e, print the first column top to bottom, next column bottom to top and so on

1  2  3  4 
5  6  7  8 
9 10 11 12

o/p: 1 5 9 10 6 2 3 7 11 12 8 4
'''

li = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
row = len(li)
col = len(li[0])

for j in range(col):
    if j%2!=0:
        for i in range(row-1,-1,-1):
            print(li[i][j],end=' ')
    else:
        for i in range(row):
            print(li[i][j],end=' ')

1 5 9 10 6 2 3 7 11 12 8 4

In [56]:
#Spiral print in 2D array

'''output = 1 2 3 4 8 12 16 15 14 13 9 5 6 7 11 10 '''

#li = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
li = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]] 

t = 0 
b = len(li) 
l = 0
r = len(li[0])
dir = 0
print(b,r)
while t<=b and l<=r:
    if dir == 0:
        for i in range(l,r):
            print(li[t][i],end=' ')
        t += 1
    elif dir == 1:
        for j in range(t,b):
            print(li[j][r-1],end=' ')
        r -= 1
        #dir = 2
    elif dir == 2:
        for k in range(r-1,l,-1):
            print(li[b-1][k],end=' ')
        b -= 1
        #dir = 3
    elif dir == 3:
        for m in range(b,t-1,-1):
            print(li[m][l],end = ' ')
        l += 1
    dir = (dir+1)%4

5 5
1 2 3 4 5 10 15 20 25 24 23 22 21 16 11 6 7 8 9 14 19 18 17 12 13

In [59]:
for k in range(2,-1,-1):
    print(k)

max(-12,-2,-10,-40)

2
1
0

-2

In [ ]:
 row_start=0
    row_end=nRows-1
    col_start=0
    col_end=mCols-1
    
    while row_start<=row_end and col_start<=col_end:
        
        #loop1
        for i in range(col_start,col_end+1):
            print(mat[row_start][i],end=' ')
        row_start+=1
        for i in range(row_start,row_end+1):
            print(mat[i][col_end],end=' ')
        col_end-=1
        for i in range(col_end,col_start-1,-1):
            print(mat[row_end][i],end=' ')
        row_end-=1
        for i in range(row_end,row_start-1,-1):
            print(mat[i][col_start],end=' ')
        col_start+=1

In [ ]:
'''whenever max val needs to be calculated always set value a max variable to -ve infinity (very large -ve value)
for min viseversa'''

In [6]:
st = input().split()
n,m = int(st[0]),int(st[1])

li = [[int(j) for j in input().split()] for i in range(n)]

3 3
1 2 3
4 5 6
7 8 9

In [10]:
li
j = 0
for ele in li:
    for i in range(n-j):
        for k in ele:
            print(k,end=' ')
        print()
    j = j + 1

1 2 3
1 2 3
1 2 3
4 5 6
4 5 6
7 8 9

In [22]:
'''
Minimum Length Word
Given a string S (that can contain multiple words), you need to find the word which has minimum length.

Note : If multiple words are of same length, then answer will be first minimum length word in the string.
Words are seperated by single space only.

Input Format : Srting

Sample Input 1 : this is test string
o/p : is

Sample Input 2 : abc de ghihjk a uvw h j
o/p: a
'''

def min_string(string):
    li = string.split()
    index,min_len,st,min_count = 0,999999999,'',0
    
    for ele in li:
        if len(ele) < min_len:
            min_len = len(ele)
            min_count = index
            st = li[min_count]
        elif len(ele) == min_len:
            st = li[min_count]
        index += 1
    return st

In [24]:
string = input()
s = min_string(string)
print(s)

abc de ghihjk a uvw h j
a

In [38]:
#a = [3,12,34,2,0,-1]
#a = [13,17,5,4,6]
a = [448,241,363,161,447,333,369,28,169,474,161,485,433,238,188,423,111,59,144,354,346,80,463,246,356,72,15,137,328,94,253,161,209,257,414,196,376,218,457]

flag = False
for i in range(len(a)):
    j = i + 1
    ele = a[i]
    while j<=len(a)-1:
        if a[i]>=a[j]:
            flag = True
        else:
            flag = False
            break
        j += 1
    if flag or ele == a[len(a)-1]:
        print(a[i],end=' ')

485 463 457

In [40]:
n = int(input())
li = []
for i in range(n):
    li.append(int(input()))
li

4
1
2
3
4

[1, 2, 3, 4]